.main {
    flex: 1;
    background-color: white;
    position: relative;
}

.wrapper {
    position: absolute;
    padding: 20px 20px 80px;
    top: -70px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.payment_actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.payment_info {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 .25rem 2rem rgba(0, 0, 0, .12);
}

.card {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1.5rem;
    background-image: linear-gradient(125deg, #181940 20%, #6f48a7);
    justify-content: space-between;
    height: 240px;
}

.card_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card_header_logo > svg {
    width: 100px;
}

.card_header_logo > svg > g > path {
    fill: white;
}

.card_header_text {
    font-weight: 700;
    font-size: 16px;
}

.card_email {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.card_actions {
    display: flex;
    justify-content: space-between;
}

.card_submit {
    color: #462b7e;
    flex-shrink: 0;
    font-weight: 800;
    padding: 0 1rem;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 100000px;
}

.card_input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 0;
}

.stats {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 .25rem 2rem rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.stats_header {
    color: #3d3c59;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.stats_hr {
    background-color: #e5e5e5;
    height: 1px;
}

.stats_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats_item_name {
    color: #afb1bb;
    font-weight: 700;
    font-size: 18px;
}

.stats_item_value {
    color: #682da2;
    font-weight: 800;
    font-size: 18px;
}

.table {

}

.card_actions_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.error {
    color: mediumvioletred;
}

.table > thead th:not(:first-child):before {
    background-color: #cecece;
    bottom: .75rem;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: .75rem;
    width: 1px;
}

.table > thead th {
    position: relative;
    color: #3d3c59;
    padding: .75rem;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.table > tbody th {
    position: relative;
    color: #3d3c59;
    padding: .75rem;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.table_none{
    color: #afb1bb;
    font-weight: 600;
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.table_none > svg{
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 960px) {
    .card {
        max-width: 400px;
    }
    .wrapper {
        flex-direction: column;
        justify-content: center;
    }
}