.Auth {
    margin-left: 24px;

    display: flex;
    align-items: center;
    gap: 12px;
}

@media screen and (max-width: 768px) {
    .Auth {
        margin: 0;

        width: 100%;

        justify-content: center;
    }
}

.icon_wrapper {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: linear-gradient(210deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.06) 48%, #fff 133%);
    margin-right: 12px;
    margin-left: -5px;
}
.authButton {
    border-radius: 8px;
    font-weight: 600;
}

.authLogin {
    padding: 10px 15px;

    background-color: var(--blue-20);
}

@media screen and (max-width: 768px) {
    .authLogin {
        background-color: var(--blue-30);

        font-size: 18px;
    }
}

.authSignIn {
    padding: 6px 15px;
    overflow: hidden;
    background: var(--green-gradient);
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
}

.authSignIn:before {
    animation: flare-2 5s infinite ease-in-out;
    content: "";
    position: absolute;
    top: calc(50% - 62px);
    width: 92px;
    height: 92px;
    background-image: radial-gradient(
        19.58% 37.96% at 16.68% 41.55%,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}
@keyframes flare-2 {
    0% {
        transform: translate(-115%) rotate(-45deg);
    }
    20% {
        transform: translate(160%) rotate(-45deg);
    }
    100% {
        transform: translate(160%) rotate(-45deg);
    }
}
@media screen and (max-width: 768px) {
    .authSignIn {
        padding: 10px 15px;

        font-size: 18px;
    }
}

.authSignInIcon {
    width: 15px;
    height: 15px;

    fill: white;
}
