.Home {
}

.header {
  grid-area: header;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

.err {
  margin-top: 16px;

  border-radius: 8px;

  padding: 24px;

  background-color: rgb(255 255 255 / 0.05);

  width: 100%;

  text-align: center;
}

.games {
  grid-area: table;
  min-width: 0;
  max-width: 100%;
}
